<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ejs test</title>
</head>
<body>
    <h1>EJS Test page.</h1>
        <% for(var i = 0; i < 10; i++){%>
            <div>Name : <%=name%>, Age : <%=age+i%></div>      
        <%}%>
</body>
</html>